@import "../../public.scss";

h1 {
  font-family: IranSans;
}

.questions {
  direction: rtl; 
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  .submissions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    label {
      font-family: IranSansLight;
      font-size: 14px;
      font-weight: bold;
    }

    > div {
      border: solid 1px blue;
      cursor: pointer;
      border-radius: 8px;
      color: blue;
      font-family: IranSansLight;
      padding: 5px;
    }

    > div.active {
      background-color: blue;
      color: white;
    }
  }
 
  .heading {
    max-width: 1050px;
    display: grid;
    grid-template-columns: 400px 487px;

    p {
      margin: 0;
    }

    > div {
      font-family: IranSansLight;
      font-size: 12px;
      display: flex;
      justify-content: flex-end;
      gap: 10px;
      font-weight: bold;

      div {
        border-bottom: solid 1px blue;
        width: 100px;
        text-align: center;
      }
    }

    h2 {
      border-bottom: solid 1px blue;
      width: 320px;
      text-align: center;
    }
  }

  .question {
    max-width: 1050px;
    display: grid;
    grid-template-columns: 400px 487px;
    border-bottom: solid 1px silver;
    padding-right: 10px;
    
    p {
      max-width: 500px;
      margin: 0;
      font-family: IranSans;
      display: flex;
      align-items: center;
    }

    &:hover {
      background-color: white;
    }
  }
  
  .footer{
    padding: 50px;
    display: flex;
    gap: 10px;
  }
}