$main-color: #0030b5;
$c1: #e6e6ef;
$c2: #39498f;

html,
body {
  background-color: whitesmoke;
}

@font-face {
  font-family: IranSans;
  src: url("../public/fonts/IranSans.ttf");
}

@font-face {
  font-family: IranSansLight;
  src: url("../public/fonts/IranSansLight.ttf");
}

@font-face {
  font-family: Yekan;
  src: url("../public/fonts/Yekan.ttf");
}
